.body{
  margin: 0;

}

::-webkit-scrollbar{

  display: none;
}
.features{
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  width: 80vw;
}

.featureCard{

  
}

.box{
  margin: 1px;
}

.featureBreaker{
  margin: 5vh;
  text-align: center;
}


.mainSearch{
  height: 50vh;
  background-color: rgba(100, 115, 115, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background-image: url('./img/philipp-berndt-5i0GnoTTjSE-unsplash.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.mainSearch h1{
  margin-bottom: 30px;
  color: white;
}

.searchButton{
  text-align: center;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
  color: gray;
  margin-top: 10px;
  width: 20%;
  background-color: rgba(255, 255, 255, 0.7);
}

.queryBuilder{
  position: relative;

}



.queryBuilder form{
 display: flex;
 flex-direction: row;
 gap: 10px;

 
}

.queryBuilder form input,.queryBuilder form select{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.loginLayout{

   gap: 10px;
   height: 95vh;


}
.loginLayout .slides{
  position: relative;
  
  height: -webkit-fill-available;

}

.loginLayout .slides img{
  height: 100%;
  width: 100%;
}
.loginLayout .slides .content{
  padding: 40px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(250, 250, 250, 0.9);
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.loginLayout .slides .content h1{
  align-self: center;
  margin-bottom: 30px;
}
.loginLayout .content form{
  display: flex;
  flex-direction: column;
  gap: 20px;
} 

.loginLayout .content form input,.loginLayout .content form button{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;

}



.reasonLayout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hideDesktop{
  display: none;
}
.listingLayout{
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  left: 50%;
  transform: translate(-50%,0%);
  width: 80vw;
  gap:20px;
}

.listingLayout .filters{
  background-color: red;
  height: 65vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listingLayout .content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.listingCard{
  width: 70%;
  min-width: fit-content;
  display: flex;
  flex-direction: row;
  height: 20vh;
  gap: 10px;
 
}

.listingCard img{
  height: 100%;
  width: auto;
}

.listingCard .content{
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.listingViewLayout{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: relative;
  width: 80vw;
  left: 50%;
  transform: translate(-50%,0%);
}

.listingViewLayout .media img{
  height: auto;
  width: 100%;
}

.listingViewLayout .media{
  position: relative;
}

.listingViewLayout .media .slides{
  position: absolute;
  right: 50%;
  margin: 5px;
  bottom:0;
  transform: translate(0%,-50%);
}



.listingViewLayout .content .contacts form{
  display: flex;
  flex-direction: column;
  gap: 5px;
}