@media only screen  and (max-width:600px){


    .mainSearch{
        height: 60vh;
    }
    

    .queryBuilder{
        width: 100%;
 
    }

    .queryBuilder form{
        flex-direction: column;
    }

    .queryBuilder form select,.queryBuilder form input{
        padding: 5px;
    }
    .searchButton{
        width: 100%;
      }

    .features{
        grid-template-columns: 1fr;
        width: 90vw;
      }

}