@media only screen  and (max-width:600px){

    .mainSearch{
        height: 60vh;
    }
    
    .queryBuilder{
        width: 100%; 
    }

    .queryBuilder form{
        flex-direction: column;
    }

    .queryBuilder form select,.queryBuilder form input{
        padding: 5px;
    }
    .searchButton{
        width: 100%;
      }

    .features{
        grid-template-columns: 1fr;
        width: 90vw;
      }

      .loginLayout .slides .content{
          left: 50%;
          transform: translate(-50%,0%);
          width: 95vw;
      }

      .loginLayout .slides img{
        display: none;
      }

      .listingLayout{
          width: fit-content;
          margin: 0;
          
         position: relative;
        left: 50%; 
        grid-template-columns: 1fr;
        transform: translate(-50%,0%);
      }

      .listingLayout .filters{
          display: none;
      }

      .hideDesktop{
        display: block;
      }

      .mobileFilter{
          text-align: center;
          border: 1px solid #ccc;
          margin: 5px;
      }

      .listingViewLayout{
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
        position: relative;
        width: 90vw;
        left: 50%;
        transform: translate(-50%,0%);
        margin-top: 1vh;
      }

      .listingCard{
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
       
      }

      .listingCard img{
          height: auto;
          width: 100%;
      }

}